<ul>
  <li>
      <a class="active" href="#home">Incedo
      <div class="spinner-grow text-dark"></div>
      </a>
  </li>
  <li>
      <a href="#news">Home 
      <div class="spinner-grow text-light"></div>
      </a>
  </li>
  <li>
      <a href="#about">About Us
      <div class="spinner-grow text-light"></div>
      </a>
  </li>
  <li>
      <a href="#about">Register
      <div class="spinner-grow text-light"></div>
      </a>
  </li>
  <li>
      <a href="#contact">Contact Us
      <div class="spinner-grow text-light"></div>
      </a>
  </li>
</ul>